// _variables.scss

$primary-color: #ffeded;
$navbar-bg: #1e1a20;
$hover-color: #7c6dee;
$h3-color: #e5d4ed;

// styles.scss

@import url('https://fonts.googleapis.com/css2?family=Arial:wght@400;700&display=swap');

body {
    background-color: $navbar-bg;
    font-family: 'Cabin', sans-serif;
    padding-bottom: 0px; // Adjust the value based on your footer's height
}
.navbar-toggler{
    background-color:$primary-color;
}
.navbar {
    background-color: $navbar-bg;
   

    &-brand {
        font-family: 'Cabin', sans-serif;
        color: $primary-color;
        font-size: 1.9rem;
    }

    &-brand:hover {
        font-family: 'Cabin', sans-serif;
        color: $hover-color;
        font-size: 1.9rem;
    }

    &-nav {
        .nav-link {
            color: $primary-color;
            margin-right: 15px;
            font-size: 1rem;
        }

        .nav-link:hover {
            color: $hover-color;
        }
    }

}

.container {
    margin-top: 30px;
    
}

.container button:hover {
    background: $hover-color;
    color: $navbar-bg;
  }

  .container button {
    width:  30vh; /* Adjust the width as needed */
    max-width: 250px; /* Set a maximum width if necessary */
    height: 7vh; /* Adjust the height as needed */
    color: #ffffff;
    border-radius: 12px;
    border-color: #ffffff;
    background-color: #1e1a20;
    font-size: 2.5vmin;
    cursor: pointer;
    font-family: 'Cabin', sans-serif;
}

button a{
    text-decoration: none; /* Remove underlines from links */
    color: $primary-color;
}

h2 {
    font-family: 'Cabin', sans-serif;
    color: $hover-color;
    font-size: 10vmin;
}
h3 {
    color: $h3-color;
    font-size: 3vmin;
}
p {
    color: $primary-color;
    font-size: 2.7vmin;
}

.row {
    margin-bottom: 30px; // Adding margin between rows (projects)
}

.col-md-6 {
    margin-bottom: 30px; // Adding margin between columns (individual projects)
}